<!-- info_site/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ascend Hub | Digital Literacy 101 for Seniors</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container header-container">
        <div class="logo">
          <img src="{% static 'Rise_Hub_Logo.png' %}" alt="Rise Hub Logo" />
        </div>

        <button class="mobile-menu-btn">
          <i class="fas fa-bars"></i>
        </button>

        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#course">Course</a></li>
            <li><a href="#syllabus">Syllabus</a></li>
            <li><a href="#webinar">Free Webinar</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>

        <div class="auth-buttons">
          <button class="btn btn-outline" id="login-btn">Login</button>
          <button class="btn btn-primary" id="signup-btn">Sign Up</button>
        </div>
      </div>
    </header>
  </body>
  {% block content %} {% endblock content %}
<script src="{% static 'scripts.js' %}"></script>
</html>
